<html lang="en" class="full-height">

<!--Main Navigation-->
<header>

  <nav class="navbar navbar-expand-lg navbar-dark indigo darken-4 ">
    <div class="container">
      <a class="navbar-brand text-uppercase font-weight-bold" href="#">SOMOCER</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Acceuil <span class="sr-only">Acceuil</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/reglement" href="#">Règlement</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/activite" href="#">Activité</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/commande" href="#">Commande</a>
          </li>
        </ul>


        <!-- Search form -->
        <form class="form-inline active-cyan-4 mt-2">
          <input class="form-control form-control-sm mr-3 w-150" type="text" placeholder="Tapez ici pour rechercher" aria-label="Search">
          <i class="fas fa-search" aria-hidden="true"></i>
        </form>


      </div>
    </div>
  </nav>








  <div class="view intro-2">
    <div class="full-bg-img">
      <div class="mask rgba-black-strong flex-center">
        <div class="container">
          <div class="white-text text-center wow fadeInUp">
            <h2>This Navbar isn't fixed</h2>
            <h5>When you scroll down it will disappear</h5>
            <br>
            <p>Full page intro with background image will be always displayed in full screen mode, regardless
              of device </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</header>
<!--Main Navigation-->