<!--Intro Section-->
<section class="view intro-2">
  <div class="full-bg-img mask rgba-gradient">
    <div class="container flex-center">
      <div class="d-flex align-items-center content-height w-100">
        <section class="section-preview">
          <div class="row flex-center pt-5 mt-3 w-100">
            <div class="col-md-6 text-center text-md-left mb-5">
              <div class="black-text">
                <h2 class="h1 h1-responsive font-bold wow fadeInLeft" data-wow-delay="0.3s">SOMOCER </h2>
                <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                <h6 class="wow fadeInLeft" data-wow-delay="0.3s"><strong>
                    SOMOCER group vous offre élégance et raffinement, authenticité et modernité au quotidien à l'instar
                    des grands jours.</strong>
                </h6>
                <br>
                <a mdbBtn color="black" outline="true" class="wow fadeInLeft waves-light" data-wow-delay="0.3s"
                  mdbWavesEffect>Voir plus</a>
              </div>
            </div>

            <div class="col-md-6 col-xl-5 offset-xl-1">
              <!--Form-->
              <mdb-card class="wow fadeInRight" data-wow-delay="0.3s">
                <mdb-card-body>
                  <!--Header-->

                  <!--Body-->

                  <div class="md-form ">
                    <mdb-icon fas icon="envelope" class="text-black active mt-3 pt-0.5  "></mdb-icon>
                    <input type="email" id="defaultLoginFormEmail" class="form-control mb-4"
                      placeholder="Adresse e-mail">
                  </div>


                  <div class="md-form">
                    <mdb-icon fas icon="lock" class="text-balck active  mt-3 pt-0.5  "></mdb-icon>
                    <input type="password" id="Mot de passe" class="form-control mb-4" placeholder="Mot de passe">
                  </div>




                  <div>
                    <!-- Forgot password -->
                    <a href="">Mot de passe oublié?</a>
                  </div>

                  <div class="text-center mt-4">
                    <button mdbBtn color="indigo" mdbWavesEffect>Connexion</button>
                    <hr class="hr-light mb-3 mt-4">
                    <!-- Register -->
                    <p>
                      <a class="nav-link" routerLink="/sign" href="#">Créer un compte</a>
                    </p>


                    <!-- Social login -->
                    <p>oubien connecté avec:</p>
                    <div class="inline-ul text-center d-flex justify-content-center">
                      <a class="p-2 m-2 tw-ic">
                        <mdb-icon fab icon="twitter" class="text-black"></mdb-icon>
                      </a>
                      <a class="p-2 m-2 li-ic">
                        <mdb-icon fab icon="linkedin-in" class="text-black"></mdb-icon>
                      </a>
                      <a class="p-2 m-2 ins-ic">
                        <mdb-icon fab icon="instagram" class="text-black"></mdb-icon>
                      </a>
                    </div>
                  </div>
                </mdb-card-body>
              </mdb-card>
              <!--/.Form-->
            </div>

          </div>
        </section>
      </div>
    </div>

  </div>
</section>