<mdb-card class="wow fadeInRight" data-wow-delay="0.3s">
    <mdb-card-body>
        <!--Form-->
        <div class="row flex-center pt-15 mt-15 w-100">

            <!--Header-->
            <form class="border border-light p-5">

                <h2 class="h1 h1-responsive font-bold wow fadeInLeft" data-wow-delay="0.3s">S'inscrire </h2>
                <h6 class="wow fadeInLeft" data-wow-delay="0.3s">
                    C’est rapide et facile.</h6>
                <div class="row pt-1 ">
                    <div class="col">
                        <input type="text" id="Prénom" class="form-control" placeholder="Prénom">
                    </div>

                    <div class="col">
                        <input type="text" id="Nom de famille" class="form-control" placeholder="Nom de famille">
                    </div>
                </div>
                <div class="row pt-4 ">
                    <div class="col">
                        <input type="email" id="Adresse e-mail" class="form-control mb-4" placeholder="Adresse e-mail">
                    </div>
                </div>
                <input type="password" id="Mot de passe" class="form-control" placeholder="Mot de passe"
                    aria-describedby="defaultRegisterFormPasswordHelpBlock">

                <small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">Entrez une combinaison
                    d'au moins 8 chiffres, lettres et signes ed ponctuation
                    lenght</small>

                <input type="text" id="Numero de telephone" class="form-control" placeholder="Numero de telephone"
                    aria-describedby="defaultRegisterFormPhoneHelpBlock">

                <small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">Optionnel
                </small>


                <button class="btn btn-info my-4 btn-block" type="submit">S'inscrire</button>

                <div class="text-center">
                    <p>oubien s'inscrire avec:</p>

                    <a type="button" class="light-blue-text mx-2">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a type="button" class="light-blue-text mx-2">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a type="button" class="light-blue-text mx-2">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a type="button" class="light-blue-text mx-2">
                        <i class="fab fa-github"></i>
                    </a>

                    <hr>

                    <p>En appuyant sur
                        <em>S’inscrire</em> ,vous acceptez nos
                        <a href="" target="_blank"> Conditions générales</a>,
                        <a href="" target="_blank">notre Politique d’utilisation des données</a>et
                        <a href="" target="_blank">notre Politique d’utilisation des données</a>.Vous recevrez
                        peut-être des notifications par texto de notre part et vous pouvez à tout moment vous
                        désabonner.

                    </p>
                </div>
            </form>
            <mdb-card-body>
            </mdb-card-body>


            <!--/.Form-->