<!--Intro Section-->
<section class="view intro-2">
  <div class="full-bg-img mask rgba-gradient">
    <div class="container flex-center">
      <div class="d-flex align-items-center content-height w-100 ">

        <!--Section: Live preview-->
        <section class="section-preview">
          <div class="row flex-center pt-5 mt-3 w-100">
            <div class="col-md-6 text-center text-md-left mb-5">
              <!-- Extended default form grid -->



              <!-- Default input -->
              <div class="form-group col-md-24">
                <h5> <label for="Code client" class="active"><strong>Code client</strong></label></h5>
                <input type="text" class="form-control form-control-md mb-4" id="Code client" placeholder="Code client">
              </div>


              <div class="form-group col-md-24">
                <h5> <label for="type de reglement" class="active"><strong>Type de règlement</strong></label></h5>
                <select class="browser-default custom-select ">
                  <option selected>Type de règlement</option>
                  <option value="1">TRT</option>
                  <option value="2">CHQ</option>
                  <option value="3">VIR</option>
                  <option value="4">ESP</option>
                </select>
              </div>







              <!-- Default input -->
              <div class="form-group col-md-24">
                <h5> <label for="Montant" class="active"><strong>Montant</strong></label></h5>
                <input type="text" class="form-control form-control-md mb-4" id="Montant" placeholder="Montant">
              </div>








              <!-- Default input -->
              <div class="form-group col-md-24">
                <h5> <label for="Numero de cheque" class="active"><strong>Numero de chèque</strong></label></h5>
                <input type="text" class="form-control form-control-md mb-4" id="Numero de cheque"
                  placeholder="Numero de cheque">
              </div>
              <!-- Default input -->
              <div class="form-group col-md-24">
                <label for="Banque" class="active"><strong>Banque</strong></label>
                <input type="text" class="form-control form-control-md mb-4" id="Banque" placeholder="Banque">
              </div>
            </div>


            <div class="col-md-6 col-xl-5 offset-xl-1">
              <div class="form-group">
                <h5><label for="exampleFormControlTextarea3"><strong>Designation</strong></label></h5>
                <textarea class="form-control" id="exampleFormControlTextarea3" placeholder="Ecrivez ici..."  rows="20" cols="100" ></textarea>
              </div>
            </div>
          </div>



          <div class="text-center mt-4">
            <button mdbBtn color="indigo" mdbWavesEffect>Envoyer</button>
            <hr class="hr-light mb-3 mt-4">
          </div>
        </section>









      </div>
    </div>
  </div>
  <!-- Extended default form grid -->
</section>


<!--Section: Live preview-->